﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quản trị</title>



    <script language="javascript" src="/Content/static/jquery_plugin/jquery/jQuery-2.1.4.min.js"></script>
    <link href="/Content/static/qlkt/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/Content/static/qlkt/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&amp;subset=vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="/Content/static/fontawesome/css/font-awesome.min.css">

    <script type="text/javascript" src="/Content/static/vuejs/vue.min.js"></script>
    <link href="/Content/static/adminlte/js/plugins/jquery-toastr/toastr.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/Content/static/framework/fancybox/jquery.fancybox-1.3.1.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/Content/static/jqplugins/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/Content/static/jqplugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen" />

    <link href="/Content/static/jqplugins/select2/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
    @*<link href="~/Content/static/mtdashboard/css/material-dashboard.css" rel="stylesheet" />*@
    <link href="~/Content/static/mtdashboard/css/demo.css" rel="stylesheet" />
    <link href="/Content/static/autoload/boot.css" rel="stylesheet" type="text/css" media="screen" />

    <!--MINHLT -->
    <link href="/Content/static/txTemplate/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/static/txTemplate/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/static/txTemplate/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="/Content/static/txTemplate/css/style.css" rel="stylesheet" type="text/css">
    <link href="/Content/static/txTemplate/css/pages/dashboard.css" rel="stylesheet" type="text/css">
    <!--MINHLT -->


    <script type="text/javascript" src="/Content/static/adminlte/js/plugins/jquery-toastr/toastr.min.js"></script>
    <script type="text/javascript" src="/Content/static/framework/fancybox/jquery.fancybox-1.3.1.js"></script>
    <script type="text/javascript" src="/Content/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Content/static/ns_master.js"></script>
    <script type="text/javascript" src="/Content/static/jqplugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/Content/static/jqplugins/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Content/static/jqplugins/select2/select2.full.min.js"></script>
    <script src="~/Content/static/mtdashboard/js/material.min.js"></script>
    <script src="~/Content/static/mtdashboard/js/chartist.min.js"></script>
    <script src="~/Content/static/mtdashboard/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.js"></script>
    <script src="/Content/static/autoload/boot.js"></script>





    @*<style type="text/css">
        .tabshow {
            display: none;
            padding-top: 6px;
        }

            .tabshow.active {
                display: block;
            }

        .ns-validate-error {
            border: 1px solid red !important;
        }

        .action-account {
            cursor: pointer;
        }

        .form-group .checkbox label, .form-group .radio label, .form-group label {
            color: #000;
        }

        .btn, .navbar .navbar-nav > li > a.btn {
            width: auto;
        }

        #datatable_length {
            margin-top: 10px;
        }

        .dataTables_length {
            margin-top: 10px;
        }
    </style>*@
</head>
<body  class="login-scene">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="">
                    TrieuPhu.club
                </a>
                <div class="nav-collapse">
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class=" icon-folder-close"></i>
                                Game:  <b>@ViewBag.merchant_title</b>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a  class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i>
                                @ViewBag.title_login
                                <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="/User/Account">Thông tin cá nhân</a></li>
                                <li><a href="/Home/LogoutUsers">Đăng xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- /navbar -->
    <div class="subnavbar">
        <div class="subnavbar-inner">
            <div class="container">
                <ul class="mainnav">
                    <li class="active"><a href="/User/Dashboard"><i class="icon-dashboard"></i><span>Thống kê</span> </a> </li>
                    <li><a href="/User/Agencyy"><i class="icon-money"></i><span>Đại lý</span> </a> </li>
                    @*<li><a href=""><i class="icon-facetime-video"></i><span>App Tour</span> </a></li>
                    <li><a href=""><i class="icon-bar-chart"></i><span>Charts</span> </a> </li>
                    <li><a href=""><i class="icon-code"></i><span>Shortcodes</span> </a> </li>*@
                </ul>
            </div>
            <!-- /container -->
        </div>
        <!-- /subnavbar-inner -->
    </div>
    <!-- /subnavbar -->
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">
                    @RenderBody()
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /main-inner -->
    </div>





    @*<div class="wrapper">
        <div class="sidebar" data-color="purple" style="background:#ffffff">
            <div class="logo">
                <a href="/User" class="simple-text">
                    @ViewBag.title_login
                    <br />
                    Game:  <b>@ViewBag.merchant_title</b>
                </a>
            </div>
            <div class="sidebar-wrapper">*@
    @* <ul class="nav">

                        <li data-tab="ports">
                            <a href="/User/Agencyy">
                                <i class="fa fa-bank" aria-hidden="true"></i>
                                <p>Danh sách Đại lý</p>
                            </a>
                        </li>
                        <li data-tab="ports">
                            <a href="/User/Giftcode">
                                <i class="fa fa-qrcode" aria-hidden="true"></i>
                                <p>Giftcode</p>
                            </a>
                        </li>
                        <li data-tab="ports">
                            <a href="/User/MobileCard">
                                <i class="fa fa-address-card" aria-hidden="true"></i>
                                <p>Thẻ cào của bạn</p>
                            </a>
                        </li>
                        <li data-tab="manager">
                            <a href="/User/Dashboard">
                                <i class="fa fa-dashboard"></i>
                                <p>Thống kê</p>
                            </a>
                        </li>
                        <li data-tab="transactions">
                            <a href="/User/Transactions">
                                <i class="fa fa-money"></i>
                                <p>Chuyển khoản</p>
                            </a>
                        </li>
                        <li data-tab="ports">
                            <a href="/User/Rwithdrawaagency">
                                <i class="fa fa-exchange" aria-hidden="true"></i>
                                <p>Rút</p>
                            </a>
                        </li>
                        <li data-tab="ports">
                            <a href="/User/Input">
                                <i class="fa fa-exchange" aria-hidden="true"></i>
                                <p>Nạp</p>
                            </a>
                        </li>
                        <!--<li data-tab="ports">
            <a href="/User/SelectMerchant">
                <i class="fa fa-exchange" aria-hidden="true"></i>
                <p>Chọn merchant</p>
            </a>
        </li>-->
                        <li data-tab="">
                            <a href="/User/Account">
                                <i class="fa fa-user"></i>
                                <p>Tài khoản</p>
                            </a>
                        </li>*@
    @*<li data-tab="">
                        <a href="/Home/LogoutUsers">
                            <i class="fa fa-sign-out"></i> Thoát tài khoản
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
            <div class="main-panel">
                <nav class="navbar navbar-transparent navbar-absolute">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1>
                                <a class="navbar-brand" href="#"> @ViewBag.Title </a>
                            </h1>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="/Home/LogoutUsers">
                                        <i class="fa fa-sign-out"></i> Thoát tài khoản
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="content">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>*@
    <script src="/Content/static/txTemplate/js/jquery-1.7.2.min.js"></script>
    <script src="/Content/static/txTemplate/js/excanvas.min.js" type="text/javascript"></script>
    <script src="/Content/static/txTemplate/js/chart.min.js" type="text/javascript"></script>
    <script src="/Content/static/txTemplate/js/bootstrap.js" type="text/javascript"></script>

    <script language="javascript" type="text/javascript" src="/Content/static/txTemplate/js/full-calendar/fullcalendar.min.js"></script>

    <script src="/Content/static/txTemplate/js/base.js" type="text/javascript"></script>

</body>


<script>
        $(function () {
            var s_href = location.href;
            var a_href = s_href.split('/');
            $('.nav a[href="/' + a_href[3] + '/' + a_href[4] + '"]').parent().addClass('active');
            
        });
</script>

@*<script src="~/Content/static/mtdashboard/js/material-dashboard.js" type="text/javascript"></script>*@

</html>
<style>
    table.dataTable thead th, table.dataTable thead td {
        border-bottom: 1px solid #ddd;
    }
    table.dataTable.no-footer {
        border-bottom: 1px solid #ddd;
    }
</style>

