﻿
@{
    ViewBag.Title = "Thay đổi thông tin cá nhân";
    Layout = "_Layout.cshtml";
}
<div class="card">
    <div class="tab-pane" id="formcontrols" 
        vueapp="change_password"
        vuelogic="static/components/users/change_password">
        <div class="widget-header">
	      	<i class="icon-user"></i>
            <h3>Thay đổi thông tin cá nhân</h3>
        </div>
        <div class="alert alert-success alert-dismissible" v-if="toast.success==true">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Thông báo</strong> {{toast.msg}}
        </div>
        <div class="alert alert-danger alert-dismissible" v-if="toast.error==true">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Thông báo</h4> {{toast.msg}}
        </div>
        <form id="edit-profile" class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="username">Tên đăng nhập</label>
                    <div class="controls">
                        <input type="text" class="span4 disabled" id="username" value="@ViewBag.title_login" disabled>
                        <p class="help-block">Bạn không thể thay đổi tên đăng nhập </p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="username">Số điện thoại</label>
                    <div class="controls">
                        <input type="text" class="span4 disabled" id="phoneNumber" value=" @ViewBag.phone" disabled>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password1">Mật khẩu hiện tại</label>
                    <div class="controls">
                        <input type="password" class="span4" id="password" value="" v-model="form.oldpass" placeholder="Nhập mật khẩu hiện tại">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password1">Mật khẩu mới</label>
                    <div class="controls">
                        <input type="password" class="span4" id="password1" value="" v-model="form.password" placeholder="Nhập mật khẩu mới">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="password2">Nhập lại mật khẩu mới</label>
                    <div class="controls">
                        <input type="password" class="span4" id="password2" value="" v-model="form.repass" placeholder="Nhập lại mật khẩu mới">
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" v-on:click="doUpdate"  >Lưu mật khẩu</button>
                </div> <!-- /form-actions -->
            </fieldset>
        </form>
    </div>



    @*<div class="show-tab-content">
            <div class="tabshow active">
                <div class="tab-content">
                    
                    <div style="margin-top: 40px;" class="col-lg-12 col-md-12 col-sm-12"
                         vueapp="change_password"
                         vuelogic="static/components/users/change_password">
                        <div class="row">
                            <div class="col-lg-6" style="margin:0 auto">
                                <div class="alert alert-success alert-dismissible" v-if="toast.success==true">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4><i class="icon fa fa-check"></i> Thông báo!</h4>
                                    {{toast.msg}}
                                </div>

                                <div class="alert alert-danger alert-dismissible" v-if="toast.error==true">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                                    {{toast.msg}}
                                </div>
                                <div class="form-group">
                                    <label>Số điện thoại: @ViewBag.phone</label>
                                </div>
                                <div class="form-group">
                                    <label>Mật khẩu cũ</label>
                                    <input type="password" v-model="form.oldpass" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Mật khẩu mới</label>
                                    <input type="password" v-model="form.password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Nhập lại mật khẩu mới</label>
                                    <input type="password" v-model="form.repass" class="form-control">
                                </div>
                                <div class="box-footer">
                                    <button v-on:click="doUpdate" type="submit" class="btn btn-info pull-right">Đổi mật khẩu</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>*@
</div> 