﻿
@{
    ViewBag.Title = "Danh sách Đại lý";
    ViewBag.Tab = "2";
    Layout = "_Layout.cshtml";
}
<style>
    #user-merchant a {
        cursor: pointer;
    }

    #user-merchant_length > label {
        margin-top: 5px;
    }

    .form-control.error {
        color: red;
    }
    .btn_facebook{
        background:#2d66ad !important;
    }
</style>
<div class="card">
    <div class="widget widget-table action-table">
        <div class="widget-header">
            <i class="icon-th-list"></i>
            <h3 align="center" ><b>Danh sách Đại lý</b></h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">
            <table id="user-agency" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th><b>#</b></th>
                        <th><b>Tên Đại lý</b></th>
                        <th><b>Điện thoại</b></th>
                        <th><b>Link</b></th>
                        <th><b>Địa chỉ</b></th>
                        <th><b>Thao tác</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6">Đang tải dữ liệu...</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="card-header " style="background-color:#ff9000"><h3 align="center" style="color:#ffffff"><b>Danh sách Đại lý</b></h3></div>
        <div class="card-content">
            <div class="table-responsive">
                <table id="user-agency" class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th><b>#</b></th>
                            <th><b>Tên Đại lý</b></th>
                            <th><b>Điện thoại</b></th>
                            <th><b>Link</b></th>
                            <th><b>Địa chỉ</b></th>
                            <th><b>Thao tác</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6">Đang tải dữ liệu...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div id="my-choice" class="modal fade">
        <div style="width: 600px; height:500px" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <ul class="nav" style="height: 180px;">
                        <li data-tab="ports">
                            <a href="/User/Rwithdrawaagency">
                                <i class="fa fa-exchange" aria-hidden="true"></i>
                                <p>Rút</p>
                            </a>
                        </li>
                        <li data-tab="ports">
                            <a href="/User/Input">
                                <i class="fa fa-exchange" aria-hidden="true"></i>
                                <p>Nạp</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        function openPopup(i) {
            $('#my-choice').modal("show");
        }
    </script>
    <script type="text/javascript" src="/Content/static/components/users/agencyy.js"></script>
