﻿
@{
    ViewBag.Title = "Thống kê giao dịch";
    ViewBag.Tab = "1";
    Layout = "_Layout.cshtml";
}

<style>
    #user-merchant a {
        cursor: pointer;
    }

        #user-merchant a i {
            margin-right: 5px;
        }

    .ct-label.ct-vertical.ct-start {
        justify-content: unset !important;
        text-align: left !important;
        width: 100px !important;
    }
</style>

<div>
    <div class="row">
        @{
            var list_merchant = ViewBag.list_merchant;
        }


        <div class="col-md-12">
            <h4 style="font-size:13px;" class="title"> Chọn Game sử dụng</h4>
        </div>
        @foreach (var item in list_merchant)
        {
            var alertClass = "";
            if (item.status_active.Equals("active"))
            {
                alertClass = "active";
            }
            else
            {
                alertClass = "";
            }
            <div class="col-md-3">
                <div class="card @alertClass">
                    <div style="cursor:pointer" onclick="showConfirmSelect(@item.id)" class="card-content">
                        <h4 style="font-size:15px;text-align:center" class="title"><i class="fa fa-google-wallet"></i> @item.name</h4>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<div id="modal-confirm" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div style="width: 470px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">Bạn có chắc chắn muốn thực hiện thao tác này?</div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Hủy bỏ</button>
                <button id="action-confirm" type="button" data-dismiss="modal" class="btn btn-primary">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<script>


    var showConfirmSelect = function (id) {
        $('#modal-confirm').modal("show");
        $('#action-confirm').attr('onclick', 'actionConfirmSelect(' + id + ')');
    }
    var actionConfirmSelect = function (id) {
        $.fancybox.showActivity();
        $.ajax({
            type: 'POST',
            url: "/UsersAccountAPI/selectMerchant",
            dataType: "json",
            data: {
                id: id
            },
            success: function (data) {
                $.fancybox.hideActivity();
                if (data.error) {
                    ns_master.toastr(data.msg, "error");
                } else {
                    $('#modal-confirm').modal("hide");
                    ns_master.toastr("Thực hiện thành công", "success");
                    location.href = location.href;
                }

            }
        });
    }
</script>
<style>
    .card .card-header-warning .card-icon, .card .card-header-warning .card-text, .card .card-header-warning:not(.card-header-icon):not(.card-header-text), .card.bg-warning, .card.card-rotate.bg-warning .back, .card.card-rotate.bg-warning .front {
        background: rgba(0, 0, 0, 0) linear-gradient(60deg, #ffa726, #fb8c00) repeat scroll 0 0;
    }

    .card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger, .card.card-rotate.bg-danger .back, .card.card-rotate.bg-danger .front {
        background: rgba(0, 0, 0, 0) linear-gradient(60deg, #ef5350, #e53935) repeat scroll 0 0;
    }

    .card .card-body {
        padding: 0.9375rem 20px;
        position: relative;
    }

    .card.active {
        border: 2px solid #e04c4c;
    }

    .card .card-header.card-chart {
        padding: 10px;
    }
</style>


<div class="row" vueapp="users_dashboard"
     vuelogic="static/components/users/dashboard">
    <!--Rpt wallest-->
    <div class="col-md-6" v-for="item in wallets">
        <div class="card">
            @*<div class="card-header card-chart" data-background-color="green">
                <div class="ct-chart" id="dailySalesChart_{{item.id}}"></div>
            </div>*@
            <div class="card-content">
                <h4 class="title"><i class="fa fa-google-wallet"></i> {{item.name}}</h4>
                <p class="category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> Số dư: <b>{{item.balance}}</b> </span>
                </p>
            </div>
            <div class="card-content">
                <button onclick="users_dashboard.showTransactionHistory({{item.id}})" class="btn btn-danger">Lịch sử giao dịch</button>
            </div>
        </div>
    </div>
    <div style="display:none" id="content-history-wallet" class="col-md-12">
        <div class="card">
            <div style="background-color:white;display:none" data-background-color="" class="card-header">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <select class="form-control" id="form-merchant">
                                <option value="">
                                    Tất cả
                                </option>
                                <option value="2">
                                    Đã trả
                                </option>
                                <option value="1">
                                    Nợ
                                </option>
                            </select>
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="form-group">
                            <a onclick="agency_dashboard.findataTabel()" class="btn btn-success">
                                <i class="fa fa-search"></i> Tìm kiếm
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content table-responsive">
                <table id="user-merchant" class="table">
                    <thead>
                        <tr>
                            <th>Thời gian</th>
                            <th>Ví tài khoản</th>
                            <th>Loại giao dịch</th>
                            <th>Số tiền</th>
                            <th>Số dư tại thời điểm</th>
                            <th>Tài khoản giao dịch</th>
                            <th>Tag</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="8">Đang tải dữ liệu</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
