﻿
@{
    ViewBag.Title = "GiftcodeUser";
    Layout = "_Layout.cshtml";
}
<style>
    #user-merchant a {
        cursor: pointer;
    }

    #user-merchant_length > label {
        margin-top: 5px;
    }

    .form-control.error {
        color: red;
    }

    .btn-add-card {
        text-align: center;
    }

    .radio-select-card input {
        margin-right: 20px;
    }
</style>

</style>
<div>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile">
                    <div class="card-body">
                        <h6 class="card-category text-gray">Nhập mã gifcode</h6>
                        <h4 class="card-title">Người dùng nhập mã gifcode để giảm giá</h4>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input style="text-align:center" placeholder="Nhập mã" type="text" class="form-control txt-giftcode">
                            </div>
                        </div>
                        <a onclick="insertGiftcode()" class="btn btn-primary btn-round" href="#pablo">Đồng ý</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    .card .card-header-warning .card-icon, .card .card-header-warning .card-text, .card .card-header-warning:not(.card-header-icon):not(.card-header-text), .card.bg-warning, .card.card-rotate.bg-warning .back, .card.card-rotate.bg-warning .front {
        background: rgba(0, 0, 0, 0) linear-gradient(60deg, #ffa726, #fb8c00) repeat scroll 0 0;
    }

    .card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger, .card.card-rotate.bg-danger .back, .card.card-rotate.bg-danger .front {
        background: rgba(0, 0, 0, 0) linear-gradient(60deg, #ef5350, #e53935) repeat scroll 0 0;
    }

    .card-body > ul {
        list-style: none;
    }

    .card .card-body {
        padding: 0.9375rem 20px;
        position: relative;
    }
</style>
<script>

    insertGiftcode = function () {
        var code = $('.txt-giftcode').val();
        $.fancybox.showActivity();
        $.ajax({
            type: 'POST',
            url: "/UsersCreatePayAPI/insertGiftcode",
            dataType: "json",
            data: {
                code: code,
            },
            success: function (data) {
                $.fancybox.hideActivity();
                if (data.error) {
                    ns_master.toastr(data.msg, "error");

                } else {
                    ns_master.toastr(data.msg, "success");

                }

            }
        });
    }
</script>

