﻿
@{
    ViewBag.Title = "Login";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TrieuPhu.club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">


    <link href="/Content/static/txTemplate/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/static/txTemplate/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/static/txTemplate/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="/Content/static/txTemplate/css/style.css" rel="stylesheet" type="text/css">
    <link href="/Content/static/txTemplate/css/pages/signin.css" rel="stylesheet" type="text/css">
    <!-- Theme style -->
    <!--
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/static/adminlte/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script><style>
        .logo {
            /*background: url("/Content/static/adminlte/img/logo.png") no-repeat;*/
            width: 293px;
            height: 267px;
            margin: 0 auto;
        }
    </style>
    <![endif]-->

</head>
<body class="login-scene" >
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="">
                   TrieuPhu.club
                </a>
                <div class="nav-collapse">
                    <ul class="nav pull-right"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="account-container">
        <div class="content clearfix">
            <form action="/User/Login" method="post">
                <h1> Cổng nạp rút Coin</h1>
                <div class="login-fields">
                    <p>Vui lòng điền username và mật khẩu của bạn </p>
                    <div style="color:red" id="login-form_es_" class="note note-danger form-error-summary">
                        @ViewData["Message"]
                    </div>
                    <div class="field">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" value="" placeholder="User ID" class="login username-field" />
                    </div>
                    <div class="field">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" value="" placeholder="Password" class="login password-field" />
                    </div>
                </div>
                <div class="login-actions">
                    <button type="submit" class="button btn btn-success btn-large">Đăng nhập</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="/Content/static/txTemplate/js/jquery-1.7.2.min.js"></script>
<script src="/Content/static/txTemplate/js/bootstrap.js"></script>
<script src="/Content/static/txTemplate/js/signin.js"></script>
</html>
