﻿
@{
    ViewBag.Title = "Giao dịch";
    Layout = "_Layout.cshtml";
}
<link type="text/css" rel="stylesheet" href="/Content/static/vendors/bootstrap-daterangepicker/daterangepicker-bs3.css">
<script src="/Content/static/adminlte/js/plugins/daterangepicker/moment.min.js"></script>
<script src="/Content/static/adminlte/js/plugins/daterangepicker/daterangepicker.js"></script>
<style>
    #user-merchant a {
        cursor: pointer;
    }

        #user-merchant a i {
            margin-right: 5px;
        }

    .form-group {
        display: inline;
        margin-left: 30px;
    }

    .ct-label.ct-vertical.ct-start {
        justify-content: unset !important;
        margin-left: 5px;
        text-align: left !important;
        width: 100px !important;
    }
</style>
<div class="col-lg-12 col-md-12 col-sm-12">
    <label>Thời gian</label>
    <button type="button" class="btn btn-default" id="daterange-btn">
        <span>
            <i class="fa fa-calendar"></i> Last 7 Days
        </span>
        <i class="fa fa-caret-down"></i>
    </button>
    <select id="type" class="form-control" style="width:200px;display: none;">
        <option value="day">Thống kê theo ngày</option>
        <option value="month">Thống kê theo tháng</option>
    </select>
    <button onclick="agency_dashboard.loadDataTransction()" type="button" class="btn  btn-primary" id="daterange-btn">
        Thống kê
    </button>
</div>
@*<div>
         <div class="col-lg-4 col-md-4 col-sm-4">
             <select id="type" class="form-control" style="width:200px; display:inline;" onclick="onChangedMySelect()">
                 <option value="date">Thống kê theo ngày</option>
                 <option value="week">Thống kê theo tuần</option>
                 <option value="month">Thống kê theo tháng</option>
             </select>
         </div>
         <div id="div_input" class="col-lg-4 col-md-4 col-sm-4"></div>
         <button onclick="Thongkegiaodich()" type="button" class="btn btn-primary" id="btn_analys" style="display:inline;">Thống kê</button>
     </div>
    <script>
         onChangedMySelect = function () {
             var selected = $('#type').val();
             console.log("selected: " + selected);
             switch (selected) {
                 case 'date':
                     console.log("date: " + selected);
                     document.getElementById("div_input").innerHTML = "<input style=\"display:inline;\" type=\"date\" id=\"analys\" name=\"trip\" value=\"2018-07-22\" min=\"2018-01-01\" max=\"2020-12-31\" />";
                     break;
                 case 'week':
                     console.log("week: " + selected);
                     document.getElementById("div_input").innerHTML = "<input style=\"display:inline;\" type=\"week\" name=\"camp-week\" id=\"analys\" min=\"2018-W27\" max=\"2020-W35\" required />";
                     break;
                 case 'month':
                     console.log("month: " + selected);
                     document.getElementById("div_input").innerHTML = "<input style=\"display:inline;\" type=\"month\" id=\"analys\" name=\"camp-month\" min=\"2018-01\" max=\"2020-12\" value=\"2018-09\" />";
                     break;
             }

         }

         Thongkegiaodich = function () {
             console.log($('#analys').daterangepicker());
             console.log($('#analys').start + " " + $('#analys').end);
         }

     </script>*@
<div class="row" vueapp="agency_dashboard"
     vuelogic="static/components/agency/dashboard">
    <!--Rpt wallest-->
    <div class="col-md-6" v-for="item in wallets">
        <div class="card">
            @*<div class="card-header card-chart" data-background-color="green">
                    <div class="ct-chart" id="dailySalesChart_{{item.id}}"></div>
                </div>*@
            <div class="card-content">
                <h4 class="title"><i class="fa fa-google-wallet"></i> {{item.name}}</h4>
                <p class="category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> Số dư: <b>{{item.balance}}</b> </span>
                </p>
            </div>
            <div class="card-footer">
                <a v-on:click="showTransactionHistory(item.id)" class="btn btn-success"><i class="fa fa-check-circle-o"></i> Xem lịch sử giao dịch</a>
            </div>
        </div>
    </div>

    <label id="tongnap" class="col-md-6" style="color:#000;font-size:30px;">Tổng nạp: 0</label>
    <label id="tongrut" class="col-md-6" style="color:#000;font-size:30px;">Tổng rút: 0</label>
    
    <div style="display:none" id="content-history-wallet" class="col-md-12">
        <div class="card">
            <div style="background-color:white" data-background-color="" class="card-header">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <select class="form-control" id="form-merchant">
                                <option value="">
                                    Tất cả
                                </option>
                                <option value="2">
                                    Đã trả
                                </option>
                                <option value="1">
                                    Nợ
                                </option>
                            </select>
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="form-group">
                            <a onclick="agency_dashboard.findataTabel()" class="btn btn-success">
                                <i class="fa fa-search"></i> Tìm kiếm
                            </a>
                        </div>
                    </div>
                </div>

            </div>


            <div class="card-content table-responsive">
                <table id="user-merchant" class="table">
                    <thead>
                        <tr>
                            <th>Thời gian</th>
                            <th>Ví tài khoản</th>
                            <th>Loại giao dịch</th>
                            <th>Số tiền</th>
                            <th>Số dư tại thời điểm</th>
                            <th>Tài khoản giao dịch</th>
                            <th>Tag</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="8">Đang tải dữ liệu</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--thống kê nạp rút-->
    <div style="display:none" id="analys_transaction" class="col-md-12">
            <div class="card">
                <div style="background-color:white" data-background-color="" class="card-header">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <select class="form-control" id="form-merchant1">
                                    <option value="1">
                                        Nạp
                                    </option>
                                    <option value="2">
                                        Rút
                                    </option>
                                </select>
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <a onclick="agency_dashboard.analysTran()" class="btn btn-success">
                                    <i class="fa fa-search"></i> Thống kê
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-content table-responsive">
                    <table id="lst_transaction" class="table">
                        <thead>
                            <tr>
                                <th>Thời gian</th>
                                <th>Ví tài khoản</th>
                                <th>Loại giao dịch</th>
                                <th>Số tiền</th>
                                <th>Số dư tại thời điểm</th>
                                <th>Tài khoản giao dịch</th>
                                <th>Tag</th>
                                <th>Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8">Đang tải dữ liệu</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <!--het-->
</div>
<script type="text/javascript" src="/Content/static/components/agency/dashboard.js"></script>
<script>
    $(function () {
        $('#daterange-btn').daterangepicker(
            {
                ranges: {
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(6, 'days'),
                endDate: moment()
            },
            function (start, end) {
                $('#daterange-btn span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
            }
        );

    });
</script>