﻿
@{
    ViewBag.Title = "Tạo yêu cầu rút tiên user";
    Layout = "~/Views/Agency/_Layout.cshtml";
}
<style>
    #user-merchant a {
        cursor: pointer;
    }

    #user-merchant_length > label {
        margin-top: 5px;
    }
    .form-control.error {
        color: red;
    }
</style>
<div> 
    <div class="row">
        <div class="form-group">
            <label>&nbsp;</label>
            <a onclick="withdrawal_user.showCreate()" class="btn btn-success" v-on:click="doUpdate">
                <i class="fa fa-plus" aria-hidden="true"></i> TẠO YÊU CẦU RÚT TIỀN USER
            </a>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header" data-background-color="" style="background-color:white">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Lọc</label>
                            <select id="filter" class="form-control" v-model="form.filter">
                                <option value="all" selected="selected">Tất cả</option>
                                <option value="0">Chờ user xác nhận</option>
                                <option value="1">Chờ kế toán xác nhận</option>
                                <option value="2">Đã hủy</option>
                                <option value="3">Đã hoàn thành</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nội dung chuyển</label>
                            <input id="search_note" class="form-control" v-model="form.txtname" />
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <a class="btn btn-success" onclick="withdrawal_user.dataTable('fillter')">
                                <i class="fa fa-search"></i> Tìm kiếm
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div class="table-responsive">
                    <table id="user-merchant" class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên Đại lý</th>
                                <th>Ví</th>
                                <th>Số tiền</th>
                                <th>Trạng thái</th>
                                <th>Thời gian tạo</th>
                                <th>Thời gian duyệt</th>
                                <th>Mã code</th>
                                <th>Tài khoản nhập mã</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8">Đang tải dữ liệu...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="create-rwithdrawuser" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog"  vuelogic="static/components/agency/rwithdrawuser" 
     vueapp="rwithdrawuser" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">
                    &times;
                </button>
                <h4 id="modal-wide-width-label" class="modal-title">Tạo yêu cầu rút tiền</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Số tiền muốn rút</label>
                            <input v-on:keyup="onCoinPress" v-model="form.money" type="text" class="form-control" id="money" placeholder="Ví dụ : 100,000,000">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Chọn ví muốn rút</label>
                            <select class="form-control" id="wallet_id">
                                @{
                var list_paymentgate = ViewBag.list_paymentgate;
                                }

                                @foreach (var item in list_paymentgate)
            {
                    <option value="@item.id">@item.name</option>
}
                            </select>
                        </div>
                        <div style="display:none" class="form-group">
                            <label for="exampleInputEmail1">Chọn user</label>
                            <select id="user_id">
                                <option value="0">Tất cả user có thể dùng</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label for="exampleInputEmail1">Nội dung</label>
                        <textarea v-model="form.note" class="form-control" id="note"></textarea>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="modal-footer">
                    <button  id="action-edit" type="button" v-on:click="send" class="btn btn-primary">Gửi yêu cầu</button>
                </div>
            </div>
        </div>
    </div>
</div>
 <script type="text/javascript" src="/Content/static/components/agency/withdrawal_user.js"></script>
