﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quản trị</title>
    <script language="javascript" src="/Content/static/jquery_plugin/jquery/jQuery-2.1.4.min.js"></script>
    <link href="/Content/static/qlkt/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/Content/static/qlkt/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&amp;subset=vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/static/fontawesome/css/font-awesome.min.css">

    <script type="text/javascript" src="/Content/static/vuejs/vue.min.js"></script>
    <link href="/Content/static/adminlte/js/plugins/jquery-toastr/toastr.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/Content/static/framework/fancybox/jquery.fancybox-1.3.1.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/Content/static/jqplugins/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/Content/static/jqplugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="/Content/static/adminlte/js/plugins/jquery-toastr/toastr.min.js"></script>
    <script type="text/javascript" src="/Content/static/framework/fancybox/jquery.fancybox-1.3.1.js"></script>
    <script type="text/javascript" src="/Content/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Content/static/ns_master.js"></script>
    <script type="text/javascript" src="/Content/static/jqplugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/Content/static/jqplugins/jquery-ui/jquery-ui.min.js"></script>

    <script type="text/javascript" src="/Content/static/jqplugins/select2/select2.full.min.js"></script>
    <link href="/Content/static/jqplugins/select2/select2.min.css" rel="stylesheet" type="text/css" media="screen" />

    <link href="~/Content/static/mtdashboard/css/material-dashboard.css" rel="stylesheet" />
    <link href="~/Content/static/mtdashboard/css/demo.css" rel="stylesheet" />


    <script src="~/Content/static/mtdashboard/js/material.min.js"></script>
    <script src="~/Content/static/mtdashboard/js/chartist.min.js"></script>
    <script src="~/Content/static/mtdashboard/js/perfect-scrollbar.jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.js"></script>
    <script src="/Content/static/autoload/boot.js"></script>
    <link href="/Content/static/autoload/boot.css" rel="stylesheet" type="text/css" media="screen" />


    <style type="text/css">
        .tabshow {
            display: none;
            padding-top: 6px;
        }

            .tabshow.active {
                display: block;
            }

        .ns-validate-error {
            border: 1px solid red !important;
        }

        .action-account {
            cursor: pointer;
        }

        .form-group .checkbox label, .form-group .radio label, .form-group label {
            color: #000;
        }

        #datatable_length {
            margin-top: 10px;
        }
    </style>
</head>
<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
            <div class="logo">
                <a href="/" class="simple-text">
                    Kế toán
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">

                    <li data-tab="manager">
                        <a href="/Accounting">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            <p>Duyệt giao dịch</p>
                        </a>
                    </li>
                    <li data-tab="manager">
                        <a href="/Accounting/Rwithdrawaagency">
                            <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
                            <p>Phê duyệt rút tiền Agency</p>
                        </a>
                    </li>
                    <li data-tab="manager">
                        <a href="/Accounting/Rwithdrawauser">
                            <i class="fa fa-hand-o-up" aria-hidden="true"></i>
                            <p>Phê duyệt rút tiền User</p>
                        </a>
                    </li>
                    @{
                        var subid_accounting = @ViewBag.subid;
                    }
                    @if (subid_accounting.Equals("0"))
                    {
                        <li data-tab="manager">
                            <a href="/Accounting/inputoutputagencty">
                                <i class="fa fa-line-chart" aria-hidden="true"></i>
                                <p>Nạp rút Agency</p>
                            </a>
                        </li>
                        <li data-tab="manager">
                            <a href="/Accounting/inputoutsystem">
                                <i class="fa fa-dashboard"></i>
                                <p>Nạp rút hệ thống</p>
                            </a>
                        </li>
                        <li data-tab="manager">
                            <a href="/Accounting/debt">
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <p>Danh sách nợ</p>
                            </a>
                        </li>
                        <li data-tab="manager">
                            <a href="/Accounting/manageaccounting">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                <p>Quản lý kế toán con</p>
                            </a>
                        </li>
                        <li data-tab="ports">
                            <a href="/Accounting/Paymentgate">
                                <i class="fa fa-arrows-alt"></i>
                                <p>Cổng thanh toán</p>
                            </a>
                        </li>
                    }
                    <li data-tab="manager">
                        <a href="/Accounting/Account">
                            <i class="fa fa-user"></i>
                            <p>Đổi mật khẩu</p>
                        </a>
                    </li>
                    <li data-tab="">
                        <a href="/Home/Logout">
                            <i class="fa fa-sign-out"></i> Thoát tài khoản
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1>
                            <a class="navbar-brand" href="#"> @ViewBag.Title </a>
                        </h1>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/Home/Logout">
                                    <i class="fa fa-sign-out"></i> Thoát tài khoản
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>







<script>
    $(function () {
        var s_href = location.href;
        var a_href = s_href.split('/');
        $('.nav a[href="/' + a_href[3] + '/' + a_href[4] + '"]').parent().addClass('active');
        if (!a_href[4]) {
            $('.nav a[href="/' + a_href[3] + '"]').parent().addClass('active');
        }

    });
</script>

<script src="~/Content/static/mtdashboard/js/material-dashboard.js" type="text/javascript"></script>
<style>
    table.dataTable thead th, table.dataTable thead td {
        border-bottom: 1px solid #ddd;
    }

    table.dataTable.no-footer {
        border-bottom: 1px solid #ddd;
    }
</style>

</html>
