﻿
@{
    ViewBag.Title = "Thay đổi thông tin cá nhân";
    Layout = "_Master.cshtml";
}
<div class="wrapper">
    <div class="show-tab-content">
        <div class="tabshow active">
            <div class="tab-content">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <h4>Tài khoản</h4>
                    <p>Thay đổi thông tin cá nhân</p>
                </div>
                <div style="margin-top: 40px;" class="col-lg-12 col-md-12 col-sm-12"
                     vueapp="change_password"
                     vuelogic="static/components/accounting/change_password">
                    <div class="row">
                        <div class="col-lg-6" style="margin:0 auto">
                            <div class="alert alert-success alert-dismissible" v-if="toast.success==true">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-check"></i> Alert!</h4>
                                {{toast.msg}}
                            </div>
                            
                            <div class="alert alert-danger alert-dismissible" v-if="toast.error==true">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                                {{toast.msg}}
                            </div>
                            <div class="form-group">
                                <label>Số điện thoại: @ViewBag.phone</label>
                            </div>
                            <div class="form-group">
                                <label>Mật khẩu cũ</label>
                                <input type="password" v-model="form.oldpass" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Mật khẩu mới</label>
                                <input type="password" v-model="form.password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Nhập lại mật khẩu mới</label>
                                <input type="password" v-model="form.repass" class="form-control">
                            </div>
                            <div class="box-footer">
                                <button v-on:click="doUpdate" type="submit" class="btn btn-info pull-right">Đổi mật khẩu</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div> 