﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Accounting/_Master.cshtml";
}
<script src="/Content/static/adminlte/js/plugins/daterangepicker/moment.min.js"></script>
<script src="/Content/static/adminlte/js/plugins/daterangepicker/daterangepicker.js"></script>

<link type="text/css" rel="stylesheet" href="/Content/static/vendors/bootstrap-daterangepicker/daterangepicker-bs3.css">

<h4>Thống kê nạp tiền, rút tiền Agency</h4>

<div style="height:20px"></div>

<div class="box">
    <div class="box-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <label>Thời gian</label>
                <button type="button" class="btn btn-default" id="daterange-btn">
                    <span>
                        <i class="fa fa-calendar"></i> This Month
                    </span>
                    <i class="fa fa-caret-down"></i>
                </button>
                <select id="agency_id" class="form-control" style="width:200px;display: inline;">
                    @{
        var list_mer = ViewBag.list;
                    }
                    <option value="all">Tất cả các Agency</option>
                    @foreach (var item in list_mer)
    {
                <option value="@item.id">@item.title</option>
}
                </select>
                <select id="type" class="form-control" style="width:200px;display: inline;">
                    <option value="day">Thống kê theo ngày</option>
                    <option value="month">Thống kê theo tháng</option>
                </select>
                <button onclick="InputoutputAgency.getListInputOut()" type="button" class="btn  btn-primary" id="daterange-btn">
                    Thống kê
                </button>
            </div>
            <div style="margin-top:20px;" class="col-lg-6 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-header card-chart" data-background-color="green">
                            <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-content">
                        <div style="padding-top:20px;padding-bottom:20px;" class="col-lg-12 col-md-12 col-sm-12">
                            <h4 style="text-align:center" class="title"><i class="fa fa-google-wallet"></i> Tổng nạp</h4>
                            <p style="text-align:center" class="category inputmoney">
                                <span class="text-success"><i class="fa fa-long-arrow-up"></i> <b></b> </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top:20px;" class="col-lg-6 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-header card-chart" data-background-color="red">
                        <div class="ct-chart" id="dailySalesChart2"></div>
                    </div>
                    <div class="card-content">
                        <div style="padding-top:20px;padding-bottom:20px;" class="col-lg-12 col-md-12 col-sm-12">
                            <h4 style="text-align:center" class="title"><i class="fa fa-google-wallet"></i> Tổng rút</h4>
                            <p style="text-align:center" class="category outputmoney">
                                <span class="text-success"><i class="fa fa-long-arrow-down"></i> <b></b> </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <label>Chi tiết giao dịch</label>
                <table id="datatable-history-detail" class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 1%;">#</th>
                            <th>Thời gian</th>
                            <th>Cổng thanh toán</th>
                            <th>Tài khoản</th>
                            <th>Tiền vào</th>
                            <th>Tiền ra</th>
                            <th>Tag</th>
                            <th>message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="7"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<style>
    .body-wallet tr {
        cursor: pointer;
    }

    #lineChart {
        height: 350px !important;
    }

    .daterangepicker.dropdown-menu.opensright {
        top: 175px !important;
    }

    .chartjs-render-monitor {
        height: 350px !important;
    }

    #datatable-history-detail_length > label {
        margin-top: 10px;
    }

    .btn.btn-default > option {
        font-size: 10px;
        height: 25px;
    }
    .ct-label.ct-vertical.ct-start {
        justify-content: unset !important;
        margin-left: 5px;
        text-align: left !important;
        width: 100px !important;
    }
</style>
<script type="text/javascript" src="/Content/static/components/accounting/inputoutputagency.js"></script>
