﻿
@{
    ViewBag.Title = "Cổng thanh toán";
    Layout = "_Master.cshtml";
}

<script src="/Content/static/adminlte/js/plugins/daterangepicker/moment.min.js"></script>
<script src="/Content/static/adminlte/js/plugins/daterangepicker/daterangepicker.js"></script>

<link type="text/css" rel="stylesheet" href="/Content/static/vendors/bootstrap-daterangepicker/daterangepicker-bs3.css">

<h4>Quản lý cổng thanh toán</h4>
<p>Danh sách các cổng thanh toán</p>
<p>Báo cáo số tiền chảy qua trong ngày trên mỗi cổng thanh toán</p>
<p>Active / Deactive</p>
<p>Cài đặt tỷ giá các mức độ với cổng thanh toán đầu ra / vào</p>
<div class="row">
    <div class="col-lg-2">
        <button type="button" onclick="paymentgate.showAdd()" class="btn btn-primary">Thêm mới</button>
        <br><br>
    </div>
</div>

<div class="box">
    <div class="box-body">
        <table id="datatable" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width: 1%;">#</th>
                    <th>Mã cổng</th>
                    <th>Tên cổng</th>
                    <th>Lịch sử tiền chảy</th>
                    <th>Phê duyệt</th>
                    <th>Loại cổng thanh toán</th>
                    <th>Trạng thái</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>GAMEPAYMENT</td>
                    <td>Nguyễn Thanh Tú</td>
                    <td>100.000</td>
                    <td><a onclick="paymentgate.showEditActive()">active</a></td>
                    <td></td>
                </tr>

            </tbody>

        </table>
    </div>
</div>
<div id="history" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div style="width: 900px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">
                    &times;
                </button>
                <h4 id="modal-wide-width-label" class="modal-title"> Lịch sử giao dịch</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="padding:15px;">
                    <label>Thời gian</label>
                    <button type="button" class="btn btn-default" id="daterange-btn">
                        <span>
                            <i class="fa fa-calendar"></i> Last 7 days
                        </span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                      <label  style="margin-left:30px;display:none">Merchant</label>
                        <select class="form-control" style="width:200px; display: none;" id="fillter_merchant_id">
                            <option value="all">Tất cả</option>
                            @{
                                var list_merchant = ViewBag.list_merchant;
                            }

                            @foreach (var item in list_merchant)
        {
                        <option value="@item.id">@item.name</option>
    }
                        </select>
                    <button onclick=" paymentgate.loadHistoryByTime()" type="button" class="btn  btn-primary" id="daterange-btn">
                        Tìm kiếm
                    </button>
                    <div style="margin-top:20px;" class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-money" aria-hidden="true"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Tổng tiền chảy qua</span>
                            <span class="info-box-number">--</span>
                        </div>
                    </div>
                </div>


                <table id="datatable-history" class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 1%;">#</th>
                            <th>Thời gian</th>
                            <th>Tài khoản</th>
                            <th>Tiền vào</th>
                            <th>Đến tài khoản</th>
                            <th>Tiền ra</th>
                            <th>Tag</th>
                            <th>message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="8"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<div id="modal-confirm" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div style="width: 470px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">Bạn có chắc chắn muốn thực hiện thao tác này?</div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Hủy bỏ</button>
                <button id="action-confirm" type="button" data-dismiss="modal" class="btn btn-primary">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<div id="edit-active" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div style="width: 470px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">
                    &times;
                </button>
                <h4 id="modal-wide-width-label" class="modal-title"> Active công thanh toán</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label style="text-align: left" class="col-lg-5 col-md-5 col-sm-5">Lý do </label>
                    <span class="col-lg-7 col-md-7 col-sm-7">
                        <input class="form-control note" />
                    </span>
                </div>
                <div style="margin-top: 20px;" class="col-lg-12 col-md-12 col-sm-12">
                    <label style="text-align: left" class="col-lg-5 col-md-5 col-sm-5">Trạng thái </label>
                    <span class="col-lg-7 col-md-7 col-sm-7">
                        <input id="active" type="radio" name="status" /> <label for="active">Active</label>
                        <input style="margin-left: 20px;" id="deactive" type="radio" name="status" /> <label for="deactive">Deactive</label>
                    </span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="modal-footer">
                <button id="action-confirm" type="button" data-dismiss="modal" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </div>
</div>
<div id="vueAppPaymentGateInfo" tabindex="-1" role="dialog" class="modal fade">
    <div style="width: 600px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">
                    &times;
                </button>
                <h4 id="modal-wide-width-label" class="modal-title">{{present.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mã cổng cổng</label>
                            <input type="text" v-model="form.code" class="form-control" id="exampleInputEmail1" placeholder="Ví dụ : KFC,VKV..">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên cổng</label>
                            <input type="text" v-model="form.name" class="form-control" id="exampleInputEmail1" placeholder="Ví dụ : Game minigo - nạp coin vàng">
                        </div>
                        <div class="form-group">
                            <label>Loại cổng</label>
                            <select v-model="form.type" class="form-control" id="type">
                                <option value="2">Rút tiền của user</option>
                                <option value="4">Rút tiền của Agency</option>
                            </select>
                        </div>
                            
                        <div style="margin-top:10px;" class="form-group">
                            <input id="check_sms" type="checkbox" v-model="form.sms" /> <label for="check_sms">Cần phê duyệt</label>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <label>Tỷ giá</label>
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Coin vào</th>
                                    <th>Coin ra</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(index,item) in items">
                                    <td>{{item.cash_in}}</td>
                                    <td>{{item.cash_out}}</td>
                                    <td><i v-on:click="removeValueCoin(index)" style="font-size:18px;cursor:pointer" class="fa fa-trash"></i></td>
                                </tr>
                                <tr>
                                    <td><input v-on:keyup="onCoinPressIn" v-model="item.cash_in" class="form-control cash_in" type="text" placeholder="Giá trị coin in" /></td>
                                    <td><input v-on:keyup="onCoinPressOut" v-model="item.cash_out" class="form-control cash_out" type="text" placeholder="Giá trị coin out" /></td>
                                    <td><i v-on:click="addRule" style="font-size:30px;cursor:pointer" class="fa fa-plus-square"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="modal-footer">
                    <button id="action-edit" type="button" v-on:click="onSubmit" class="btn btn-primary">{{present.btn_title}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/Content/static/vuejs/vue.min.js"></script>
<script type="text/javascript" src="/Content/static/components/accounting/paymentgate.js"></script>
<style>
    .btn-history {
        margin-left: 30px;
    }
    .daterangepicker.dropdown-menu.opensright{
        top: 140px !important;
    }
</style>
