﻿
@{
    ViewBag.Title = "Tạo yêu cầu rút tiên user";
    Layout = "~/Views/Accounting/_Master.cshtml";
}
<style>
    #user-merchant a {
        cursor: pointer;
    }

    #user-merchant_length > label {
        margin-top: 5px;
    }
    .form-control.error {
        color: red;
    }
</style>
<div> 
    <div class="row">
        <div class="card">
            <div class="card-header" data-background-color="" style="background-color:white">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Lọc</label>
                            <select id="filter" class="form-control" v-model="form.filter">
                                <option value="all" selected="selected">Tất cả</option>
                                <option value="1">Đang chờ xác nhận</option>
                                <option value="2">Đã hủy</option>
                                <option value="3">Đã hoàn thành</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nội dung chuyển</label>
                            <input id="search_note" class="form-control" v-model="form.txtname" />
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <a class="btn btn-success" onclick="withdrawal_user.dataTable('fillter')">
                                <i class="fa fa-search"></i> Tìm kiếm
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div class="table-responsive">
                    <table id="user-merchant" class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên agency</th>
                                <th>Ví</th>
                                <th>Số coin</th>
                                <th>Số tiền nhận được</th>
                                <th>Trạng thái</th>
                                <th>Thời gian tạo</th>
                                <th>Thời gian duyệt</th>
                                <th>Mã code</th>
                                <th>Tài khoản nhập mã</th>
                                <th>Nội dung</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8">Đang tải dữ liệu...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="show-edit" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div style="width: 600px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">
                    &times;
                </button>
                <h4 id="modal-wide-width-label" class="modal-title"> Nhập mã OTP</h4>
            </div>
            <div class="modal-body">
                <div style="margin-top: 15px;" class="col-lg-12 col-md-12 col-sm-12">
                    <div style="width:100%;" class="input-group">
                        <span style="display:block;text-align:center;font-size: 12px;">Mã OTP đang được gửi tới số điện thoại:   <a class="phone-send"></a></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Mã OTP</span>
                        <input type="text" placeholder="Mã OTP" class="form-control txt-otp" name="title">
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="modal-footer">
                <button id="action-edit" type="button" class="btn btn-primary">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-confirm" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div style="width: 470px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">Bạn có chắc chắn muốn thực hiện thao tác này?</div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Hủy bỏ</button>
                <button id="action-confirm" type="button" data-dismiss="modal" class="btn btn-primary">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
 <script type="text/javascript" src="/Content/static/components/accounting/withdrawal_user.js"></script>
