﻿
@{
    ViewBag.Title = "Quản lý tài khoản Apple, Google";
}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Tài khoản Google</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" onsubmit="return false">
        @{
        var config = ViewBag.config;
        }
        <div class="box-body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Client ID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control client_id" id="inputEmail3" placeholder="client_id" value="@config.client_id">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Client Secret</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control client_secret" id="inputPassword3" placeholder="client_secret" value="@config.client_secret">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Refresh Token</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control refresh_token" id="inputPassword3" placeholder="refresh_token" value="@config.refresh_token">
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-info pull-right" onclick="account.save()">Save</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>
<script>
    account = {};
    account.save = function () {
        $.fancybox.showActivity();
        $.ajax({
            type: 'POST',
            url: "/Account/saveAccountGoolge",
            dataType: "json",
            data: {
                id: 1,
                client_id: $('.client_id').val(),
                client_secret: $('.client_secret').val(),
                refresh_token: $('.refresh_token').val()
            },
            success: function (data) {
                $.fancybox.hideActivity();
                ns_master.toastr("Thực hiện thành công", "success");
            }
        });
    }
</script>

