﻿
@{
    ViewBag.Title = "Thông kê phế thu được";
}
<script src="/Content/static/adminlte/js/plugins/daterangepicker/moment.min.js"></script>
<script src="/Content/static/adminlte/js/plugins/daterangepicker/daterangepicker.js"></script>

<link type="text/css" rel="stylesheet" href="/Content/static/vendors/bootstrap-daterangepicker/daterangepicker-bs3.css">
<style>
    .daterangepicker.dropdown-menu.opensright {
        top: 173.5px !important;
    }
</style>
<h4>Thông kê phế thu được</h4>
<div class="box">
    <div class="box-body">
        <div class="row" style="padding:15px;">

            <label  style="margin-right:5px;">
                Khoảng thời gian
            </label>
            <button style="margin-right:30px;" type="button" class="btn btn-default" id="daterange-btn">
                <span>
                    <i class="fa fa-calendar"></i> Last 7 Days
                </span>
                <i class="fa fa-caret-down"></i>
            </button>

            <label style="margin-right:5px;">
                Merchant
            </label>
            <select class="form-control" style="margin-right:30px;width:150px; display: inline-block;" id="merchant-id">
                <option value="all">Tất cả merchant</option>
                @{
        var list_mer = ViewBag.list;
                }

                @foreach (var item in list_mer)
    {
            <option value="@item.id">@item.name</option>
}
            </select>
            <button style="padding-top:7px;padding-bottom:7px;" onclick="profit.clickLoadHistory()" type="button" class="btn  btn-primary" id="daterange-btn">
                Tìm kiếm
            </button>

        </div>
            <div style="margin-top:40px;" class="row list-static">

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box text-paymentgate">
                        <span class="info-box-icon bg-red">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Likes</span>
                            <span class="info-box-number">41,410</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </div>
        </div>
</div>
<div class="box">
    <div class="box-body">
        <table id="datatable" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width: 1%;">#</th>
                    <th>Thời gian</th>
                    <th>Cổng thanh toán</th>
                    <th>Loại ví</th>
                    <th>Phế được hưởng</th>
                    <th>Tài khoản chuyển</th>
                    <th>Chuyển đến</th>
                    <th>Tag</th>
                    <th>message</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="9">Đang tải dữ liệu</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" src="/Content/static/ucp/admin/profit.js?v=1"></script>
