﻿
@{
    ViewBag.Title = "Đại lý";
}

<h4>Quản lý Đại lý</h4>
<style>
    .btn.btn-sm.btn-success.pull-right {
        margin-right: 10px;
    }
</style>
<div class="row">
    <div class="col-lg-2">
        <button type="button" onclick="agency.showAdd()" class="btn btn-primary">Thêm mới</button>
        <button type="button" onclick="agency.shuffleAgency()" class="btn btn-primary">Xáo trộn đại lý</button>
        <br><br>
    </div>
</div>
<div class="box">
    <div class="box-body">
        <table id="datatable" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width: 1%;">#</th>
                    <th>Tên Đại lý</th>
                    <th>Tên Đại lý cha</th>
                    <th>Trạng thái</th>
                    <th>Địa chỉ</th>
                    <th>Ví</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>GAMEPAYMENT</td>
                    <td><a onclick="store.showEditActive()">active</a></td>
                    <td><a onclick="store.showEdit()">Sửa</a>,<a onclick="store.showDelete()">Xóa</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="modal-confirm" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div style="width: 470px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">Bạn có chắc chắn muốn thực hiện thao tác này?</div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Hủy bỏ</button>
                <button id="action-confirm" type="button" class="btn btn-primary">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<div id="dialogCreateAgencyWallet" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div style="width: 470px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">
                    &times;
                </button>
                <h4 id="modal-wide-width-label" class="modal-title">Tạo ví cho agency</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label style="text-align: left" class="col-lg-5 col-md-5 col-sm-5">Tên ví</label>
                    <span class="col-lg-7 col-md-7 col-sm-7">
                        <input class="form-control" name="wallet_name" />
                    </span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="modal-footer">
                <button id="action-confirm" type="button" data-dismiss="modal" class="btn btn-primary" onclick="agency.doCreateAgencyWalletForm()">Tạo ví</button>
            </div>
        </div>
    </div>
</div>


<div id="dialogPayAgencyDialog" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div style="width: 700px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">
                    &times;
                </button>
                <h4 id="modal-wide-width-label" class="modal-title">Tạo lệnh tiền cho agency</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label style="text-align: left" class="col-lg-5 col-md-5 col-sm-5">Số tiền</label>
                        <span class="col-lg-7 col-md-7 col-sm-7">
                            <input value="0" onkeyup="agency.onChangePricePay(this)" class="form-control txt-coin-tran" name="cash" />
                        </span>
                    </div>
                    <div style="margin-top:20px;" class="col-lg-12 col-md-12 col-sm-12">
                        <label style="text-align: left" class="col-lg-5 col-md-5 col-sm-5">Cổng thanh toán</label>
                        <span class="col-lg-7 col-md-7 col-sm-7">
                            <select onchange="agency.loadCashIORate()" class="form-control" id="paymentgate_id">
                                @{
                                    var list_payment = ViewBag.list_paymentgate;
                                }

                                @foreach (var item in list_payment)
                                {
                                    <option value="@item.id">@item.name</option>
                                }
                            </select>
                        </span>
                    </div>
                    <div style="margin-top:20px;" class="col-lg-12 col-md-12 col-sm-12">
                        <label style="padding-left:15px">Số coin agency nhận được: {{view_cashOut}}</label>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <label style="float:left;width:100%;margin-top:15px;">Tỷ giá</label>
                    <table class="table table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Tiền vào</th>
                                <th>Tiền ra</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(index,item) in view_iorates">
                                <td>{{item.cash_in}}</td>
                                <td>{{item.cash_out}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="margin-top:20px;" class="col-lg-12 col-md-12 col-sm-12">
                    <label style="text-align: left;float:left;padding-left:30px;">Nội dung</label>
                    <span class="col-lg-10 col-md-10 col-sm-10">
                        <textarea class="form-control text-content"></textarea>
                    </span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="modal-footer">
                <button id="action-confirm" type="button" class="btn btn-primary" onclick="agency.doPayAgencyCash()">Nạp tiền</button>
            </div>
        </div>
    </div>
</div>

<div id="edit-active" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div style="width: 470px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">
                    &times;
                </button>
                <h4 id="modal-wide-width-label" class="modal-title"> Active Agency</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label style="text-align: left" class="col-lg-5 col-md-5 col-sm-5">Lý do </label>
                    <span class="col-lg-7 col-md-7 col-sm-7">
                        <input class="form-control note" />
                    </span>
                </div>
                <div style="margin-top: 20px;" class="col-lg-12 col-md-12 col-sm-12">
                    <label style="text-align: left" class="col-lg-5 col-md-5 col-sm-5">Trạng thái </label>
                    <span class="col-lg-7 col-md-7 col-sm-7">
                        <input id="active" type="radio" name="status" /> <label for="active">Active</label>
                        <input style="margin-left: 20px;" id="deactive" type="radio" name="status" /> <label for="deactive">Deactive</label>
                    </span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="modal-footer">
                <button id="action-confirm" type="button" data-dismiss="modal" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </div>
</div>
<div id="show-edit" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div style="width: 600px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">
                    &times;
                </button>
                <h4 id="modal-wide-width-label" class="modal-title"> Sửa</h4>
            </div>
            <div class="modal-body">
                <label>Thông tin Agency</label>
                <div style="margin-top: 15px;" class="col-lg-12 col-md-12 col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon">Tên</span>
                        <input type="text" placeholder="Tên" class="form-control" name="title">
                    </div>
                </div>
                <div style="margin-top: 15px;" class="col-lg-12 col-md-12 col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon">Phone</span>
                        <input onkeyup="agency.onchangePhone(this)" data-phone="" type="text" placeholder="Phone" class="form-control" name="phone">
                    </div>
                </div>
                <div style="margin-top: 15px;" class="col-lg-12 col-md-12 col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon">Email</span>
                        <input data-email="" type="text" placeholder="Email" class="form-control" name="email">
                    </div>
                </div>
                <div style="margin-top: 15px;" class="col-lg-12 col-md-12 col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon">Địa chỉ</span>
                        <input data-email="" type="text" placeholder="Location" class="form-control" name="location">
                    </div>
                </div>
                <div style="margin-top: 15px;" class="col-lg-12 col-md-12 col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon">Username</span>
                        <input type="text" placeholder="Username" class="form-control" name="username">
                    </div>
                </div>
                <div style="margin-top: 15px;" class="col-lg-12 col-md-12 col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon">Password</span>
                        <input type="password" placeholder="Password" class="form-control" name="password">
                    </div>
                </div>
                <div style="margin-top: 15px;" class="col-lg-12 col-md-12 col-sm-12">
                    <div >
                        <span>Hiển thị</span>
                        <input type="checkbox" id ="isAppear" name="isAppear" value="1">
                        <span>Thứ tự hiển thị</span>
                        <input type="text" placeholder="Thứ tự" name="orderId" value="0">
                    </div>
                </div>
                <div style="margin-top: 15px;" class="col-lg-12 col-md-12 col-sm-12">
                    <label>Được quyền làm việc mới các merchant</label>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="input-group">
                        <select style="width:400px;" multiple="multiple" id="merchant_id">
                            @{
                                var list_mer = ViewBag.list_merchant;
                            }

                            @foreach (var item in list_mer)
                            {
                                <option value="@item.id">@item.name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="modal-footer">
                    <button id="action-edit" type="button" class="btn btn-primary">Cập nhật</button>
                </div>
            </div>

        </div>
    </div>
    <div id="show-payment-type" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
        <div style="width: 200px;" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <ul>
                            <li>
                                <a onclick="store.showListCoin()" class="action-account">Các loại coin</a>
                            </li>
                            <li>
                                <a onclick="store.showListType()" class="action-account">Các cổng thanh toán</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="list-coin" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
        <div style="width: 470px;" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="modal-wide-width-label" class="modal-title"> Tạo coin</h4>
                </div>
                <div class="modal-body">
                    <div style="text-align: left" class="col-lg-12 col-md-12 col-sm-12">
                        Chấp nhận các loại coin
                    </div>
                    <div style="margin-top: 20px;" class="col-lg-12 col-md-12 col-sm-12">

                        <span class="col-lg-7 col-md-7 col-sm-7">
                            <select class="form-control">
                                <option>Coin 1</option>
                                <option>Coin 2</option>
                                <option>Coin 3</option>
                            </select>
                        </span>
                        <label style="text-align: left" class="col-lg-5 col-md-5 col-sm-5">
                            <button type="button" data-dismiss="modal" class="btn btn-primary">Cập nhật</button>
                        </label>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="list-type" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
        <div style="width: 1000px;" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="modal-wide-width-label" class="modal-title"> Các cổng thanh toán</h4>
                </div>
                <div class="modal-body">
                    <div style="text-align: left" class="col-lg-12 col-md-12 col-sm-12">
                        Chấp nhận các cổng thanh toán
                    </div>
                    <div style="margin-top: 20px;" class="col-lg-6 col-md-6 col-sm-6">
                        <div style="text-align: left" class="col-lg-12 col-md-12 col-sm-12">
                            <label>Vàng</label>
                            <button style="float: right" type="button" class="btn btn-primary">Thêm mới</button>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <ul class="list-type-payment">
                                    <li>
                                        <span>OnePayAgencyD_IN</span>
                                        <button style="float: right" type="button" class="btn btn-primary">Xóa</button>
                                        <button style="float: right" type="button" class="btn btn-primary">Khóa</button>
                                    </li>
                                    <li>
                                        <span>OnePayAgencyA_IN</span>
                                        <button style="float: right" type="button" class="btn btn-primary">Xóa</button>
                                        <button style="float: right" type="button" class="btn btn-primary">Khóa</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div style="text-align: left" class="col-lg-12 col-md-12 col-sm-12">
                            <label>Bạc</label>
                            <button style="float: right" type="button" class="btn btn-primary">Thêm mới</button>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <ul class="list-type-payment">
                                    <li>
                                        <span>OnePayAgencyD_IN</span>
                                        <button style="float: right" type="button" class="btn btn-primary">Xóa</button>
                                        <button style="float: right" type="button" class="btn btn-primary">Khóa</button>
                                    </li>
                                    <li>
                                        <span>OnePayAgencyA_IN</span>
                                        <button style="float: right" type="button" class="btn btn-primary">Xóa</button>
                                        <button style="float: right" type="button" class="btn btn-primary">Khóa</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 20px;background-color:#f7f7f7;padding: 10px;" class="col-lg-6 col-md-6 col-sm-6">
                        <label style="float: left;width: 100%;text-align: left">Thông tin cổng</label>
                        <br />
                        <span style="float: left;width: 100%;text-align: left">Tên cổng: OnePayAgencyA_IN</span>
                        <br />
                        <span style="float: left;width: 100%;text-align: left">Tỷ giá</span>
                        <table class="table table-hover table-striped table-bordered dataTable no-footer">
                            <thead>
                                <tr>
                                    <th>Vào</th>
                                    <th>Ra</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>100</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>100</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>100</td>
                                    <td>20</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/Content/static/ucp/admin/store.js"></script>
    <style>
        .list-type-payment li {
            float: left;
            margin-bottom: 10px;
            margin-top: 10px;
            width: 100%;
        }

        .list-type-payment button {
            margin-left: 10px;
        }

        #datatable li {
            clear: both;
            margin-bottom: 20px;
        }

        .form-control.txt-coin-tran.error {
            color: red;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: #100f0f !important;
        }
    </style>

