﻿@{
    ViewBag.Title = "Account";
}
<script src="/Content/static/adminlte/js/plugins/daterangepicker/moment.min.js"></script>
<script src="/Content/static/adminlte/js/plugins/daterangepicker/daterangepicker.js"></script>

<link type="text/css" rel="stylesheet" href="/Content/static/vendors/bootstrap-daterangepicker/daterangepicker-bs3.css">
@model ManageCorePayment.Models.Merchant

<h4>Tài khoản - Quản lý người dùng</h4>


<div class="row">
    <div class="col-lg-2">
        Lọc theo ứng dụng
    </div>
    <div class="col-lg-3">
        <select onchange="account.dataTable()" id="merchant_id" class="form-control">
            <option value="all">Tất cả ứng dụng</option>
            @{
                var list_mer = ViewBag.list;
            }

            @foreach (var item in list_mer)
            {
                <option value="@item.id">@item.name</option>
            }
        </select>
    </div>
    <div class="col-lg-2">
        Lọc theo username
    </div>
    <div class="col-lg-3">
        <input onkeyup="account.dataTable()" id="s_seach" class="form-control" />
    </div>
</div>

<div style="height:60px"></div>

<div class="box">
    <div class="box-body">
        <table id="datatable" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width: 1%;">#</th>
                    <th>Merchant</th>
                    <th>Username</th>
                    <th>Trạng thái</th>
                    <th>Thống kế nạp/rút</th>
                    <th>Ví</th>
                    <th>Chức năng</th>
                    <th>Verify</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="8">Đang tải dữ liệu...</td>
                </tr>

            </tbody>

        </table>
    </div>
</div>



<div id="modal-confirm" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div style="width: 470px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">Bạn có chắc chắn muốn thực hiện thao tác này?</div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Hủy bỏ</button>
                <button id="action-confirm" type="button" data-dismiss="modal" class="btn btn-primary">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<div id="show-action" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div style="width: 200px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul>
                        <li>
                            <a class="action-account view-change-password">Đổi mật khẩu</a>
                        </li>
                        <li>
                            <a class="action-account view-confirm-remove">Xóa account</a>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<div id="view-change-password" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div style="width: 470px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">
                    &times;
                </button>
                <h4 id="modal-wide-width-label" class="modal-title"> Thay đổi password</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label style="text-align: left" class="col-lg-5 col-md-5 col-sm-5">Password </label>
                    <span class="col-lg-7 col-md-7 col-sm-7">
                        <input type="password" class="form-control pass_new" />
                    </span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label style="text-align: left" class="col-lg-5 col-md-5 col-sm-5">Nhập lại password </label>
                    <span class="col-lg-7 col-md-7 col-sm-7">
                        <input type="password" class="form-control pass_re" />
                    </span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="modal-footer">
                <button onclick="account.actionChangePassword()" id="action-confirm" type="button" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </div>
</div>


<div id="edit-active" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div style="width: 470px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">
                    &times;
                </button>
                <h4 id="modal-wide-width-label" class="modal-title"> Active người dùng</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label style="text-align: left" class="col-lg-5 col-md-5 col-sm-5">Lý do </label>
                    <span class="col-lg-7 col-md-7 col-sm-7">
                        <input class="form-control note" />
                    </span>
                </div>
                <div style="margin-top: 20px;" class="col-lg-12 col-md-12 col-sm-12">
                    <label style="text-align: left" class="col-lg-5 col-md-5 col-sm-5">Trạng thái </label>
                    <span class="col-lg-7 col-md-7 col-sm-7">
                        <input id="active" type="radio" name="status" /> <label for="active">Active</label>
                        <input style="margin-left: 20px;" id="deactive" type="radio" name="status" /> <label for="deactive">Deactive</label>
                    </span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="modal-footer">
                <button id="action-confirm" type="button" data-dismiss="modal" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </div>
</div>
<div id="show-history" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div style="width: 1200px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">
                    &times;
                </button>
                <h4 id="modal-wide-width-label" class="modal-title"> Lịch sử giao dịch</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <h4>Chọn ví</h4>
                        <table id="datatable-pay" class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 1%;">#</th>
                                    <th>Tên ví</th>
                                    <th>Số dư</th>
                                    <th>Đóng băng</th>
                                </tr>
                            </thead>
                            <tbody class="body-wallet"></tbody>
                        </table>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <h4 class="ttile-history-of-coin"></h4>
                        <table id="datatable-history" class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 1%;">#</th>
                                    <th>Thời gian</th>
                                    <th>Cổng thanh toán</th>
                                    <th>Tài khoản giao dịch</th>
                                    <th>Giá trị</th>
                                    <th>Số dư hiện tại</th>
                                    <th>Tag</th>
                                    <th>Message</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="show-getinputoutput" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div style="width: 1000px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">
                    &times;
                </button>
                <h4 id="modal-wide-width-label" class="modal-title"> Thống kê nạp rút</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Thời gian</label>
                        <button type="button" class="btn btn-default" id="daterange-btn">
                            <span>
                                <i class="fa fa-calendar"></i> Last 7 Days
                            </span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <select id="type" class="form-control btn btn-default" style="width:200px;display: inline;height:30px">
                            <option value="day">Thống kê theo ngày</option>
                            <option value="month">Thống kê theo tháng</option>
                        </select>
                        <button onclick="account.getListInputOutPost()" type="button" class="btn  btn-primary" id="daterange-btn">
                            Thống kê
                        </button>
                    </div>
                    <div style="margin-top:30px;" class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header card-chart" data-background-color="green">
                                <canvas id="lineChart"></canvas>
                            </div>
                            <div class="card-content">
                                <div style="padding-top:20px;" class="col-lg-6 col-md-6 col-sm-6">
                                    <h4 style="text-align:center" class="title"><i class="fa fa-google-wallet"></i> Tổng nạp</h4>
                                    <p style="text-align:center" class="category inputmoney">
                                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> <b></b> </span>
                                    </p>
                                </div>
                                <div style="padding-top:20px;" class="col-lg-6 col-md-6 col-sm-6">
                                    <h4 style="text-align:center" class="title"><i class="fa fa-google-wallet"></i> Tổng rút</h4>
                                    <p style="text-align:center" class="category outputmoney">
                                        <span class="text-success"><i class="fa fa-long-arrow-down"></i> <b></b> </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Chi tiết giao dịch</label>
                        <table id="datatable-history-detail" class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 1%;">#</th>
                                    <th>Thời gian</th>
                                    <th>Cổng thanh toán</th>
                                    <th>Tiền vào</th>
                                    <th>Tiền ra</th>
                                    <th>Tag</th>
                                    <th>message</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="7"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-confirm" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
        <div style="width: 470px;" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">Bạn có chắc chắn muốn thực hiện thao tác này?</div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Hủy bỏ</button>
                    <button id="action-confirm" type="button" data-dismiss="modal" class="btn btn-primary">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
    <style>
        .body-wallet tr {
            cursor: pointer;
        }

        #lineChart {
            height: 350px !important;
        }
        .daterangepicker.dropdown-menu.opensright {
            top: 123px !important;
        }
        #datatable-history-detail_length > label {
            margin-top: 10px;
        }

        .btn.btn-default > option {
            font-size: 10px;
            height: 25px;
        }
    </style>
    <script type="text/javascript" src="/Content/static/ucp/admin/account.js"></script>
